
table{
    border-collapse: collapse;
    font-family: 'Calibri';
    margin: 25px auto;
    border-spacing: 0;
    width: 100%;
}
h1, h2{
    color: #0987b1;
    text-align: center;
    font-family: 'Calibri';
}   

td, th{
    padding: 0.25rem;
    text-align: center;
    border: 1px solid #999;
}
thead tr:nth-child(odd){
    background: #abd1de;
    position: sticky; 
    top: 15px;
    color: #2d6bb2; 
}
tbody tr:nth-child(odd){
    background: #d1dde1;
    
}
body{
    background-image:url(whitebuilding.jpg);
}

#header{
    background-color: #2d6bb2; 
    font-size: large;  
    text-align: center;
    border-collapse: collapse;
    font-family: 'Calibri';
    width: 100%;
    border-spacing: 0;
    margin: 25px auto;
}